/*------------------------------------------------*/

body{
    background-color: black; /*color de fondo*/
    color: white; /*color de letra*/
    text-align: center; /*texto centrado*/
}

/*------------------------------------------------*/

/*------------------------------------------------*/

.contenedor_general_superior_usuario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    padding-left: 10%;
    padding-right: 10%;
}

.contenedor_usuario_permiso{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 3px;
}

/*Icono usuario*/
#img_icono_usuario{
    width: 43px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
}

/* Label: Nombre Usuario - Label: Permiso */
.label_izquierda{
    background-color: #282626;
    border-left: 3px solid#505354;
    padding: 5px;
    max-width: 100%;
}

/* Label: 
    -variable: 'sesion_' (nombre_usuario)
    -variable: 'privilegio' (permiso_de_usuario) */
.label_derecha{
    background-color: #505354;
    padding: 5px;
}

#boton_cerrar_sesion{
    background-color: #282626;
    border-left: 3px solid #717476;
    padding: 5px;
    max-width: 100%;
}
/*------------------------------------------------*/

/*------------------------------------------------*/

#img_portada{
    width: 100%; /*ancho de la imagen*/
}

/*------------------------------------------------*/

/*------------------------------------------------*/

nav{
    display: flex;
    justify-content: space-around;
    height: 70px; /*altura del nav*/
    align-items: center; /*alienear centrado en eje vertical los elementos del nav*/
    border-bottom: white solid 1px; /*borde inferior*/
}

.opciones_menu_nav{
    color: white; /*color de letra*/
    text-decoration-line: none; /*enlace sin subrayado*/
}

/*------------------------------------------------*/